<div *ngIf="hero">
    <input [(ngModel)]="hero.name" />
    <label for="heroName">Nombre del heroe</label>
    <span id="heroName">{{hero.name}}</span>
    <label for="heroId">Id del heroe</label>
    <span id="heroId">{{hero.id}}</span>
    <img [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension" alt="{{hero.name}}">
    <label for="heroDescription">Descripción</label>
    <span id="heroDescription">{{hero.description}}</span>

    <button (click)="save()">Save</button>
    <button (click)="goBack()">Back</button>
</div>